<script>
  const theme = localStorage.getItem('theme');
  if (theme === "dark") {
    document.documentElement.setAttribute('data-theme', 'dark');
  }
</script>
<header class="site-header" role="banner">

  <div class="wrapper site-header-wrapper" style="display: flex; justify-content: space-between; align-items: center">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    {% comment %}<button id="theme-toggle" onclick="modeSwitcher()"></button>{% endcomment %}

      <div id="toggle"
           class="toggle"
           onclick="toggle()">
        <div style="padding-top: 2px">
          <div class="toggleTrack">
            <div class="toggleTrackCheck">
              <img src="/images/moon.svg" alt="moon"/>
            </div>
            <div id="toggleTrackCheckX" class="toggleTrackCheckX toggleTrackCheckXUncheckedX">
              <img src="/images/sun.svg" alt="sun"/>
            </div>
          </div>
        </div>
        <div class="toggleThumb"></div>
        <input type="checkbox"
               id="toggleInput"
               class="toggleInput"
               readOnly/>
      </div>
  </div>

</header>

<script>
  const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content');

  function setToggle(t) {

    if (t === "dark") {
      document.getElementById("toggle").classList.add("toggleChecked");
      document.getElementById("toggleTrackCheckX").classList.remove("toggleTrackCheckXUncheckedX");
    } else {
      document.getElementById("toggle").classList.remove("toggleChecked");
      document.getElementById("toggleTrackCheckX").classList.add("toggleTrackCheckXUncheckedX");
    }
  }

  if (theme === "dark") {
    setToggle("dark")
  } else if (theme === "light") {
    setToggle("light")
  } else if  (userPrefers === "dark") {
    document.documentElement.setAttribute('data-theme', 'dark');
    window.localStorage.setItem('theme', 'dark');
    setToggle("dark")
  } else {
    document.documentElement.setAttribute('data-theme', 'light');
    window.localStorage.setItem('theme', 'light');
    setToggle("light")
  }

  function modeSwitcher() {
    let currentMode = document.documentElement.getAttribute('data-theme');
    let newMode = currentMode
    if (currentMode === "dark") {
      document.documentElement.setAttribute('data-theme', 'light');
      window.localStorage.setItem('theme', 'light');
      newMode = "light"
    } else {
      document.documentElement.setAttribute('data-theme', 'dark');
      window.localStorage.setItem('theme', 'dark');
      newMode = "dark"
    }
    return newMode
  }

  function toggle() {
    let newMode = modeSwitcher()
    if (newMode === 'light') {
      document.getElementById("toggle").classList.toggle("toggleChecked");
      document.getElementById("toggleTrackCheckX").classList.toggle("toggleTrackCheckXUncheckedX");
    }else {
      document.getElementById("toggle").classList.toggle("toggleChecked");
      document.getElementById("toggleTrackCheckX").classList.toggle("toggleTrackCheckXUncheckedX");
    }
  }
</script>

