<script>
  const theme = localStorage.getItem('theme');
  if (theme === "dark") {
    document.documentElement.setAttribute('data-theme', 'dark');
  }
</script>
<header class="site-header" role="banner">

  <div class="wrapper site-header-wrapper"
       style="display: flex; justify-content: space-between; align-items: center; padding: 8px 0px">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div style="display: flex; align-items: center; gap: 8px">
      <a rel="author" href="{{ "/" | relative_url }}">
        <div style="border-radius: 50%; overflow: hidden">
          <img src="/images/peter-200.png" style="width: 50px; height: 50px" alt="Image of Peter Iskandar"/>
        </div>
      </a>
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
    {% comment %}<button id="theme-toggle" onclick="modeSwitcher()"></button>{% endcomment %}

      <div id="toggle"
           class="toggle"
           onclick="toggle()">
        <div style="padding-top: 2px">
          <div class="toggleTrack">
            <div class="toggleTrackCheck">
              <img src="/images/moon.svg" alt="moon"/>
            </div>
            <div id="toggleTrackCheckX" class="toggleTrackCheckX toggleTrackCheckXUncheckedX">
              <img src="/images/sun.svg" alt="sun"/>
            </div>
          </div>
        </div>
        <div class="toggleThumb"></div>
        <input type="checkbox"
               id="toggleInput"
               class="toggleInput"
               readOnly/>
      </div>
  </div>

</header>

<script>
  const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content');

  function setToggle(t) {
    let toggle = document.getElementById("toggle");
    let toggleTrackCheckX = document.getElementById("toggleTrackCheckX");
    if (t === "dark") {
      toggle.classList.add("toggleChecked");
      toggleTrackCheckX.classList.remove("toggleTrackCheckXUncheckedX");
    } else {
      toggle.classList.remove("toggleChecked");
      toggleTrackCheckX.classList.add("toggleTrackCheckXUncheckedX");
    }
  }

  function setLocalTheme(t) {
    document.documentElement.setAttribute('data-theme', t);
    window.localStorage.setItem('theme', t);
  }

  if (theme === "dark") {
    setToggle("dark")
  } else if (theme === "light") {
    setToggle("light")
  } else if  (userPrefers === "dark") {
    setLocalTheme("dark")
    setToggle("dark")
  } else {
    setLocalTheme("light")
    setToggle("light")
  }

  function modeSwitcher() {
    let currentMode = document.documentElement.getAttribute('data-theme');
    if (currentMode === "dark") {
      setLocalTheme("light")
    } else {
      setLocalTheme("dark")
    }
  }

  function toggle() {
    modeSwitcher()
    document.getElementById("toggle").classList.toggle("toggleChecked");
    document.getElementById("toggleTrackCheckX").classList.toggle("toggleTrackCheckXUncheckedX");

  }
</script>

